body {
	text-align: center;
}

img {
	display: block;
	margin: 50px auto;
	max-width: 500px;
}

.palette {
	width: 30%;
	margin: 10px auto;
}

.color {
	display: inline-block;
	margin: 5px;
	width: 15%;
}

.square {
	background-color: black;
	display: inline-block;
	height: 20px;
	vertical-align: middle;
	width: 20px;
}

.hex-value {
	display: inline-block;
	vertical-align: middle;
}